<!DOCTYPE html>
<html>
<head>
    <title>CFe{{ chave }}</title>
    <style>
        body {
            font-size: 7pt;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: -40px;
            margin-top: -10px;
            width: 300px;
        }

        table {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .font-bold {
            font-weight: bold;
        }

        img.logo {
            width: 64px;
            height: 64px;
        }

        p.nome-fantasia-emitente {
            font-size: 10pt;
            font-weight: bold;
        }

        p.nome-emitente {
            font-size: 8pt;
            text-transform: uppercase;
        }

        .font-size-8 {
            font-size: 8pt;
        }

        hr {
            margin-top: -3px;
        }

        td.nome-produto {
            width: 100px;
        }

    </style>
</head>
<body>


<table>
    <tr>
        {% if logo %}
            <td class="text-center">
                <img src="{{ logo }}" class="logo"/>
            </td>
        {% endif %}

        <td colspan="{{ (logo) ? 1 : 2 }}">
            {% if emitente.xFant is defined %}
                <p class="nome-fantasia-emitente">{{ emitente.xFant }}</p>
            {% endif %}
            <p class="nome-emitente">{{ emitente.xNome }}</p>
            <p>
                {{ emitente.enderEmit.xLgr }}
                , {{ emitente.enderEmit.nro }} {{ (emitente.enderEmit.xCpl is defined ? emitente.enderEmit.xCpl : '') }}
                - {{ emitente.enderEmit.xBairro }},
                {{ emitente.enderEmit.xMun }} - {{ ide.cUF | uf_por_codigo }}
            </p>
            <p class="">
                CEP: {{ emitente.enderEmit.CEP }}
            </p>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            CNPJ: {{ emitente.CNPJ }}
        </td>
        <td>
            IE: {{ emitente.IE }}
        </td>
        {% if emitente.IM is defined %}
            <td>IM: {{ emitente.IM }}</td>
        {% endif %}
    </tr>
</table>

<hr>

<p class="text-center font-bold font-size-8">
    Extrato No. {{ ide.nCFe }} <br/>
    CUPOM FISCAL ELETRÔNICO - SAT
</p>

{% if destinatario is defined and destinatario.identificaoCliente is defined %}
    <hr>
    <p>CPF/CNPJ do consumidor: {{ destinatario.identificaoCliente }}</p>
{% endif %}

<hr>
<p class="font-bold">
    # | COD | DESC | QTD | UN | VL.UNIT(R$) | VL.TR(R$) | VL.ITEM(R$)
</p>

<hr>

{% set valorDescontoISSQN = 0 %}
{% set valorAcrescimoISSQN = 0 %}

<table>

    <tbody>
    {% for item in produtos %}
        <tr class="item">
            <td>
                {{ "%03d"| format(loop.index) }}
            </td>
            <td>
                {{ item.prod.cProd }}
            </td>
            <td class="nome-produto">
                {{ item.prod.xProd }}
            </td>
            <td>
                {{ item.prod.qCom | number_format(4, ',', '.') }} {{ item.prod.uCom }} X
            </td>
            <td>
                {{ item.prod.vUnCom | number_format(2, ',', '.') }}
            </td>
            <td>
                ({{ item.imposto.vItem12741 | number_format(2, ',', '.') }})
            </td>
            <td class="text-right">
                {{ item.prod.vProd | number_format(2, ',', '.') }}
            </td>
        </tr>

        {% if item.prod.vDesc > 0 %}
            <tr class="desconto-item">
                <td colspan="4">desconto sobre o item</td>
                <td class="text-right" colspan="3">- {{ item.prod.vDesc | number_format(2, ',', '.') }}</td>
            </tr>
        {% endif %}

        {% if item.prod.vOutro > 0 %}
            <tr class="acrescimo-item">
                <td colspan="4">acréscimo sobre o item</td>
                <td class="text-right" colspan="3">+ {{ item.prod.vOutro | number_format(2, ',', '.') }}</td>
            </tr>
        {% endif %}

        {% if item.prod.vRatDesc > 0 %}
            <tr class="desconto-item">
                <td colspan="4">rateio de desconto sobre subtotal</td>
                <td class="text-right" colspan="3">- {{ item.prod.vRatDesc | number_format(2, ',', '.') }}</td>
            </tr>
        {% endif %}


        {% if item.prod.vRatAcr > 0 %}
            <tr class="acrescimo-item">
                <td colspan="4">rateio de acréscimo sobre subtotal</td>
                <td class="text-right" colspan="3"> + {{ item.prod.vRatAcr | number_format(2, ',', '.') }}</td>
            </tr>
        {% endif %}

        {% if item.imposto.ISSQN is defined %}

            <tr class="vdeducissqn-item">
                <td colspan="4">dedução para ISSQN</td>
                <td class="text-right" colspan="3">
                    - {{ item.imposto.ISSQN.vDeducISSQN | number_format(2, ',', '.') }}</td>
            </tr>

            <tr class="vbc-item">
                <td colspan="4">base de cálculo ISSQN</td>
                <td class="text-right" colspan="3"> {{ item.imposto.ISSQN.vBC | number_format(2, ',', '.') }}</td>
            </tr>

            {% set valorDescontoISSQN = valorDescontoISSQN + item.prod.vDesc %}
            {% set valorAcrescimoISSQN = valorAcrescimoISSQN + item.prod.vOutro %}

        {% endif %}

    {% endfor %}
    </tbody>
</table>

<hr>

<table>
    <tr>
        <td>Total bruto de itens (R$)</td>
        <td class="text-right">{{ total.ICMSTot.vProd | number_format(2, ',', '.') }}</td>
    </tr>

    {% set incidenteDescAcres = (valorDescontoISSQN + total.ICMSTot.vDesc) - (valorAcrescimoISSQN + total.ICMSTot.vOutro ) %}
    <tr>
        <td>Total de descontos/acréscimo sobre total</td>
        <td class="text-right">{{ (incidenteDescAcres > 0) ? '-' : '+' }} {{ incidenteDescAcres | number_format(2, ',', '.') }}</td>
    </tr>

    {% if total.ICMSTot.DescAcrEntr is defined %}
        {% if total.ICMSTot.DescAcrEntr.vDescSubtot %}
            <tr>
                <td>Desconto sobre subtotal</td>
                <td class="text-right"> - {{ total.ICMSTot.DescAcrEntr.vDescSubtot | number_format(2, ',', '.') }} </td>
            </tr>
        {% endif %}

        {% if total.ICMSTot.DescAcrEntr.vDescSubtot %}
            <tr>
                <td>Acréscimo sobre subtotal</td>
                <td class="text-right">
                    + {{ total.ICMSTot.DescAcrEntr.vAcresSubtot | number_format(2, ',', '.') }} </td>
            </tr>
        {% endif %}
    {% endif %}

    <tr>
        <td class="font-bold">TOTAL R$</td>
        <td class="font-bold text-right">{{ total.vCFe | number_format(2, ',', '.') }}</td>
    </tr>

</table>

<br>

<table>
    <tbody>
    {% for pgto in pagamentos %}
        <tr>
            <td class="">{{ pgto.cMP | pagamento }}</td>
            <td class="text-right">{{ pgto.vMP | number_format(2, ',', '.') }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td class="">Troco</td>
        <td class="text-right">{{ vTroco | number_format(2, ',', '.') }}</td>
    </tr>
    </tbody>
</table>

{% if informacao.obsFisco is defined and informacao.obsFisco.xTexto %}
    <p>{{ informacao.obsFisco.xTexto }}</p>
{% endif %}

{% if entrega is defined %}
    <hr>
    <p>DADOS PARA ENTREGA</p>
    <p>
        Endereço: {{ entrega.xLgr }}, {{ entrega.nro }} {{ (entrega.xCpl is defined ? entrega.xCpl : '') }}
        - {{ entrega.xBairro }},
        {{ entrega.xMun }} - {{ entrega.UF }}
    </p>
{% endif %}
<hr>

{% if informacao.infCpl %}
    <p>OBSERVAÇÕES DO CONTRIBUINTE</p>
    <p>{{ informacao.infCpl }}</p>
{% endif %}

{% if total.vCFeLei12741 > 0 %}
    <table style="width: 100%">
        <tr>
            <td class="">Valor aproximado dos tributos deste cupom (Conforme Lei Fed. 12.741/2012)</td>
            <td class="text-right">R${{ total.vCFeLei12741 | number_format(2, ',', '.') }}</td>
        </tr>
    </table>
{% endif %}

<br/>
<hr>

<p class="text-center font-size-8">
    SAT No. <b>{{ ide.nCFe }}</b> <br/>
    {{ emitidaEm | date('d/m/Y - H:i:s') }}
</p>

<p class="text-center">
    {{ chave | chave_mask }}
</p>
<div class="text-center" style="margin-left: 10px">
    {{ chave | barcode128 | raw }}
</div>

<div class="" style="margin-left: 40px">
    {{ qrCode | qrcode | raw }}
</div>

{% if infoConsultaAplicativo %}
    <p class="text-center font-bold">
        {{ infoConsultaAplicativo }}
    </p>
{% endif %}

</body>
</html>